//全局公共样式
* {
  font-family: "Source Han Sans CN";
}

@font-face {
  font-family: "pm";
  src: url("./font/pm.ttf");
}

@font-face {
  font-family: "TC-R";
  src: url("./font/TCloudNumber-Regular.ttf");
}

