//背景颜色
$background:rgb(35,35,35);

//默认字体大小
$base-font:14px;

//默认字体 小
$base-font-small:12px;

//白色
$white:#FFF;

// 白色背景1
$white-background-color1 :rgb(246, 246, 246);

// 白色背景2
$white-background-color2 :rgb(226, 226, 226);

//浅白色
$light:rgb(255,255,255,0.7)

